{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block show_navbar %}
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="alumnihome" href="/alumnihome">Home</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            <a class="nav-item nav-link" id="searchjob" href="/searchjob">Search Job</a>
            <a class="nav-item nav-link" id="appliedjobs" href="/appliedjobs">Applied Jobs</a>
            <a class="nav-item nav-link" id="viewprofile" href="/viewprofile">View Profile</a>
        </div>
      </div>
    </nav>
{% endblock %}

{% block content
%}
<h1 align="center">alumni home page</h1>


{% endblock %}