{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block show_navbar %}
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="companyhome" href="/companyhome">Home</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            <a class="nav-item nav-link" id="addjob" href="/addjob">Add Job</a>
            <a class="nav-item nav-link" id="jobapplications" href="/jobapplications">Job Applications</a>
            <a class="nav-item nav-link" id="viewjobs" href="/viewjobs">View Jobs</a>

        </div>
      </div>
    </nav>
{% endblock %}

{% block content %}
<h1 align="center">company home page</h1>
{% endblock %}