{% extends "base.html" %} {% block title %}Forgot password{% endblock %}

{% block show_navbar %}
  {% if a==1 %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="companylogin" href="/companylogin">Login</a>
          <a class="nav-item nav-link" id="companysignUp" href="/companysign-up">Sign Up</a>
            <a class="nav-item nav-link" id="firstpage" href="/">first page</a>
        </div>
      </div>
    </nav>
  {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="alumnilogin" href="/alumnilogin">Login</a>
          <a class="nav-item nav-link" id="alumnisignUp" href="/alumnisign-up">Sign Up</a>
            <a class="nav-item nav-link" id="firstpage1" href="/">first page</a>
        </div>
      </div>
    </nav>
  {% endif %}
{% endblock %}


{% block content
%}
<form method="POST">
  <h3 align="center">Forgot password</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">submit</button>
</form>

{% endblock %}